* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    245.59deg,
    #6a99c9 0%,
    #4d79a1 28.53%,
    #2b405e 75.52%
  );
}
.App {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

.page {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  /* height: 100%; */
  /* margin-bottom: 200px; */
}
.page-text {
  width: 40%;
  display: inline-block;
}
.page-text h3 {
  font-family: "Sriracha", cursive;
  font-size: 40px;
  font-weight: 600;
  color: white;
  /* margin-top: 200px; */
}
.page-text h4 {
  font-family: "Sriracha";
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 50px;
}
.page-text p {
  color: white;
  font-size: 15px;
  line-height: 1.9;
  width: 70%;
}
.contact,
.events {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: default;
}

.permit-select {
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10 and IE 11 */
  user-select: text; /* Standard syntax */
  cursor: text;
}