* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    245.59deg,
    #6a99c9 0%,
    #4d79a1 28.53%,
    #2b405e 75.52%
  );
}
.App {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
