.contact {
  font-family: "Sriracha", cursive;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.social-media-icons {
  text-decoration: none;
  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 300px;
}
.ig {
  position: relative;
}

.ig:hover::after {
  content: "Instagram";
  font-size: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  display: none;
  z-index: 999;
}

.ig:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: white;
  display: block;
  z-index: 998;
}

.ig:hover::after,
.ig:hover::before {
  display: block;
}

.linkedin {
  position: relative;
}

.linkedin:hover::after {
  content: "LinkedIn";
  font-size: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 999;
}

.linkedin:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: white;
  display: block;
  z-index: 998;
}

.linkedin:hover::after,
.linkedin:hover::before {
  display: block;
}
.portfolio {
  position: relative;
}

.portfolio:hover::after {
  content: "Portfolio";
  font-size: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 999;
}

.portfolio:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: white;
  display: block;
  z-index: 998;
}

.portfolio:hover::after,
.portfolio:hover::before {
  display: block;
}
.ig:hover,
.linkedin:hover,
.portfolio:hover {
  cursor: pointer;
}
