.events {
  font-family: "Sriracha";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.events-content {
  display: flex;
  flex-flow: column;
  color: white;
  font-family: "Sriracha";
  align-items: center;
}
