.events {
  min-height:100vh;
  font-family: "Sriracha";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden!important;
  gap: 2em;
}
.events-content {
  display: flex;
  flex-flow: column;
  color: white;
  font-family: "Sriracha";
  align-items: center;
}