.events {
  font-family: "Sriracha";
  display: flex;
  flex-flow: column;
  align-items: center;
}
.events-text {
  font-family: "Poppins";
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}
