nav.main {
    padding: 0 30px 30px 0;
}

.main ul { 
    list-style-type: none;
}
nav.main a { 
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: .2s;
}

nav.main a:hover { 
    transform: translateY(10px);
}
.menu {
    display: flex;
    justify-content: space-evenly;
}