.page {
    height: 650px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  .page-text {
    width: 40%;
    display: inline-block;
    line-height: 1.5;
  }
  .page-text h3 {
    font-family: "Sriracha", cursive;
    font-size: 40px;
    font-weight: 600;
    color: white;
  }
  .page-text h4 {
    font-family: "Sriracha";
    font-size: 30px;
    font-weight: normal;
    color: #fff;
  }
  .page-text p {
    margin-top: 30px;
    color: white;
    font-size: 15px;
    line-height: 1.9;
    width: 70%;
  }